<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>ED Notes — Antoine Mcx</title>
        <link rel="icon" href="/img/avatar.jpg" class="flavicon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/antoinemcx.css">
        <link rel="stylesheet" media="screen and (max-width: 1250px)" href="/css/mobile.css">
		
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css">
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://kit.fontawesome.com/74ba3d64b1.js"></script>
    </head>

    <body class="light">
        <header><%- include('../parts/header'); -%></header>

        <div class="container container-login">
            <div class="forms">
                <div class="form login">
                    <span class="title">Connexion ED élève</span>
                    <% if (messages.error) { %>
                        <span style="color: var(--red)"><%= messages.error %></span>
                    <% } %>

                    <%
                        let quarter = ''; let button = 'Se connecter';
                        if (req.query.trimestre && req.query.trimestre === '1') { quarter = '?trimestre=1'; button = "Afficher le trimestre 1" }
                        if (req.query.trimestre && req.query.trimestre === '2') { quarter = '?trimestre=2'; button = "Afficher le trimestre 2" }
                        if (req.query.trimestre && req.query.trimestre === '3') { quarter = '?trimestre=3'; button = "Afficher le trimestre 3" }
                    %>
    
                    <form action="/ecole-directe<%=quarter%>" method="POST">
                        <div class="input-field">
                            <input type="username" id="username" name="username" placeholder="Indiquez votre nom d'utilisateur" required>
                            <i class="fa-regular fa-user"></i>
                        </div>
                        <div class="input-field">
                            <input type="password" class="password" id="password" name="password" placeholder="Indiquez votre mot de passe" required>
                            <i class="fa-regular fa-hashtag"></i>
                            <i class="fa-regular fa-eye-slash showPassword" id="showPassword"></i>
                        </div>

                        <div class="input-field button mt-5">
                            <button type="submit" formaction="/ecole-directe<%=quarter%>"><%= button %></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <style>
            .container .form .title { position: relative; font-size: 30px; font-weight: 600; display: block }
            .form { width: 150% }
            .form .title::before{
                content: ''; position: absolute;
                left: 0; bottom: 4px;
                height: 3px; width: 25px;
                background-color: var(--darkblurple);
                border-radius: 25px;
            }
            .form .input-field{
                position: relative;
                height: 50px; width: 100%;
                margin-top: 30px;
            }
            .form a:hover { text-decoration: underline; }
        </style>
        
        <!-- JS FILES -->
        <script src="/js/main.js"></script>
        <app-notification></app-notification>
    </body>

    <div class="cookiealert">
        <div class="container m-auto">
            <div class="pl-3 pr-3">
                <div class="alert text-center cookiealert-content is-white w-100" role="alert">
                    &#x1F36A; <b><%= translate.header.cookies[0] %></b> <%= translate.header.cookies[1] %> <a href="https://cookiesandyou.com/" target="_blank"><%= translate.header.cookies[2] %></a>
                    <button type="button" class="btn btn-primary btn-sm acceptcookies"><%= translate.header.cookies[3] %></button>
                </div>
            </div>
        </div>
    </div>
</html>