<!DOCTYPE html>
<html lang="<%= lang %>">
    <head>
        <meta charset="UTF-8">
        <title>Imgur image uploader — Antoine Mcx</title>
        <link rel="icon" href="/img/avatar.jpg" class="flavicon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/tools/password-generator.css">
        <link rel="stylesheet" href="/css/antoinemcx.css">
        <link rel="stylesheet" media="screen and (max-width: 1250px)" href="/css/mobile.css">
		
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css">
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        
        <script src="https://kit.fontawesome.com/74ba3d64b1.js"></script>
    </head>

    <body class="light">
        <header><%- include('../parts/header'); -%></header>

        <div class="main-section">
            <div class="container">
                <div class="d-flex" style="align-items: center">
                    <div class="is-title" style="margin-bottom: 0"><%= translate.toolsPasswordGenerator.title %></div>
                    <div class="section-line"></div>
                </div>
                <div class="is-subtitle pb-5"><%= translate.toolsPasswordGenerator.subtitle %></div>
            </div>
        </div>

        <div class="main-body">
            <div class="container d-flex">
                <div class="generator-container">
                    <div class="result-container">
                        <span id="result"></span>
                        <button class="btn" id="clipboard"><i class="far fa-clipboard"></i></button>
                    </div>

                    <div class="settings">
                        <div class="setting range-wrap">
                            <label for="length" class="bubble"><%= translate.toolsPasswordGenerator.settings[0] %> : 15</label>
                            <input type="range" class="range" id="length" min="5" max="45" value="15" style="background: transparent;">
                        </div>

                        <div class="setting">
                            <label for="uppercase"><%= translate.toolsPasswordGenerator.settings[1] %> (ABC)</label>
                            <input type="checkbox" id="uppercase" checked>
                        </div>
                        <div class="setting">
                            <label for="uppercase"><%= translate.toolsPasswordGenerator.settings[2] %> (123)</label>
                            <input type="checkbox" id="numbers" checked>
                        </div>
                        <div class="setting">
                            <label for="uppercase"><%= translate.toolsPasswordGenerator.settings[3] %> (#&@)</label>
                            <input type="checkbox" id="symbols" checked>
                        </div>
                    </div>
                    <button class="btn btn-large" id="generate"><%= translate.toolsPasswordGenerator.settings[4] %></button>
                </div>

                <div class="generator-info">
                    <%= translate.toolsPasswordGenerator.generatorInfo[0] %><br><br>
                    <%= translate.toolsPasswordGenerator.generatorInfo[1] %><br><br>
                    <%= translate.toolsPasswordGenerator.generatorInfo[2] %><br><br><br>
                    <%= translate.toolsPasswordGenerator.generatorInfo[3] %>
                </div>
            </div>
        </div>
        
        <!-- JS FILES -->
        <script src="/js/main.js"></script>
        <script src="/js/password-generator.js"></script>
        <app-notification></app-notification>
    </body>

    <!-- <div class="cookiealert">
        <div class="container m-auto">
            <div class="pl-3 pr-3">
                <div class="alert text-center cookiealert-content is-white w-100" role="alert">
                    &#x1F36A; <b><%= translate.header.cookies[0] %></b> <%= translate.header.cookies[1] %> <a href="https://cookiesandyou.com/" target="_blank"><%= translate.header.cookies[2] %></a>
                    <button type="button" class="btn btn-primary btn-sm acceptcookies"><%= translate.header.cookies[3] %></button>
                </div>
            </div>
        </div>
    </div> -->
    <div class="cookiealert2" style="visibility: visible; opacity: 1;">
        <div class="container m-auto">
            <div class="pl-3 pr-3">
                <div class="alert text-center cookiealert-content is-white w-100" role="alert" style="background-color: #FFF0B3; border: 2px solid #F19A1E;">
                    ⚠️ <b><%= translate.header.wip_alert[0] %></b> <%= translate.header.wip_alert[1] %>
                </div>
            </div>
        </div>
    </div>
</html>