<!DOCTYPE html>
<html lang="<%=lang%>">
    <head>
        <meta charset="UTF-8">
        <title>URL Shortener — Antoine Mcx</title>
        <link rel="icon" href="/img/avatar.jpg" class="flavicon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/tools/url-shortener.css">
        <link rel="stylesheet" href="/css/antoinemcx.css">
        <link rel="stylesheet" media="screen and (max-width: 1250px)" href="/css/mobile.css">
		
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css">
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        
        <script src="https://kit.fontawesome.com/74ba3d64b1.js"></script>
    </head>

    <body class="light">
        <header><%- include('../parts/header'); -%></header>

        <div class="container">
            <div class="home">
                <div class="div">
                    <div class="d-flex" style="align-items: center">
                        <div class="is-title" style="margin-bottom: 0"><%= translate.toolsUrlShortener.title %></div>
                        <div class="section-line"></div>
                    </div>
                    <div class="is-subtitle pb-5"><%= translate.toolsUrlShortener.subtitle %></div>

                    <form action="" class="shortener-form">
                        <div class="linkUrlDiv"><input placeholder="<%= translate.toolsUrlShortener.placeholder %>" type="text" class="linkUrl"></div>

                        <a class="submit ml-3 submit-button" style="color: var(--darkblurple); cursor: not-allowed"><%= translate.toolsUrlShortener.sendButton %></a>

<!--                        <a onclick="shorten()" class="submit ml-3 submit-button" style="color: var(&#45;&#45;darkblurple)"><%= translate.toolsUrlShortener.sendButton %></a>-->
                    </form>

                    <p style="padding-top: 30px; color: red">
                        Fonctionnalité désactivée suite à un usage abusif. Une prochaine version du site est en cours.
                        <br>
                        Feature deactivated due to misuse. A new version of the site is in progress.
                    </p>
                </div>
            </div>
        </div>
        
        <!-- JS FILES -->
        <script src="/js/main.js"></script>
        <script src="/js/url-shortener.js"></script>
        <app-notification></app-notification>
    </body>

    <!-- <div class="cookiealert">
        <div class="container m-auto">
            <div class="pl-3 pr-3">
                <div class="alert text-center cookiealert-content is-white w-100" role="alert">
                    &#x1F36A; <b><%= translate.header.cookies[0] %></b> <%= translate.header.cookies[1] %> <a href="https://cookiesandyou.com/" target="_blank"><%= translate.header.cookies[2] %></a>
                    <button type="button" class="btn btn-primary btn-sm acceptcookies"><%= translate.header.cookies[3] %></button>
                </div>
            </div>
        </div>
    </div> -->
    <div class="cookiealert2" style="visibility: visible; opacity: 1;">
        <div class="container m-auto">
            <div class="pl-3 pr-3">
                <div class="alert text-center cookiealert-content is-white w-100" role="alert" style="background-color: #FFF0B3; border: 2px solid #F19A1E;">
                    ⚠️ <b><%= translate.header.wip_alert[0] %></b> <%= translate.header.wip_alert[1] %>
                </div>
            </div>
        </div>
    </div>
</html>
